flask
google-genai
pyaudio
numpy
python-dotenv
requests
opencv-python
pillow
mss
flask-sock
simple-websocket
groq
cerebras-cloud-sdk
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-assistant-sdk[samples]
edge-tts
pyttsx3
typing-extensions
rumps
pvporcupine
pvrecorder
